
body{
    background-color: #f1eff0;
}

.content-container {
  flex-grow: 1;
  padding: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0; 
  height: 100%;
  width: 23%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

input:focus, textarea:focus {
  border-color: green !important;
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.5) !important;
}








